.DS_Store
/.build
/dist
/\.xcode-derived
/xcode-build
/Packages
/release
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/tools
